<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>弦圃智能科技 - 后台</title>

  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery.form.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/static/lib/bootstrap/css/bootstrap.min.css">
  <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/static/lib/bootstrap-table/bootstrap-table.min.css">
  <script src="/static/lib/bootstrap-table/bootstrap-table.min.js"></script>
  <script src="/static/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

  <!--paho-mqtt-->
  <script src="/static/lib/eclipse/paho-mqtt.js"></script>

  <!--moment-->
  <script src="/static/lib/moment/moment.min.js"></script>
  <script src="/static/lib/moment/locale/zh-cn.js"></script>
  <!--tempusdominus-bootstrap-->
  <link rel='stylesheet' href='/static/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css'/>
  <script src="/static/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

  <!--fontawesome-->
  <script defer src="/static/lib/fontawesome/js/all.min.js"></script>

  <link rel='stylesheet' href='/static/css/style.css'/>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/mqtt_manager.js"></script>

</head>
<body>

<!-- 顶部导航 -->
<div class="headerPage"></div>
<!--顶部导航 over-->

<div class="row">
  <div class="col-md-2 col-sm-3 col-12">
    <div class="nav flex-column nav-pills nav-justified" id="mainTab" role="tablist" aria-orientation="vertical">
      <div class="alert alert-success" role="alert">
        欢迎您 <%= userName %>
      </div>
      <a class="nav-link active" id="login-tab" href="#login" role="tab" aria-controls="login" aria-selected="true">请登录</a>
    </div>
  </div>
  <div class="col-md-10 col-sm-9">
    <div class="tab-content" id="mainTabContent">
      <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">

            <form id="backendLoginForm">
              <div class="form-group">
                <label for="loginName">用户名</label>
                <input type="text" class="form-control" id="loginName" name="loginName" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">没有账号请联系管理员获取.</small>
              </div>
              <div class="form-group">
                <label for="loginPassword">密码</label>
                <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
              </div>

              <button type="submit" class="btn btn-block btn-primary">登录</button>
            </form>

            <!--结果-->
            <div class="alert alert-danger backendLogin result" role="alert"></div>
            <div class="alert alert-success backendLogin result" role="alert">
            </div>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--footer-->
<div class="footerPage"></div>
<!--footer over-->

<script>

    $(function(){
        /*公共部分
         * 导航栏
         * footer CopyRight
         */
        $(".headerPage").load("/header.html");
        $(".footerPage").load("/footer.html");

    });


    $(function(){

        /** 获取backendLoginForm后台数据  */
            // prepare the form when the DOM is ready
        let backendLoginFormOptions = {
                // target:        '#',   // target element(s) to be updated with server response
                beforeSubmit:  showRequest,  // pre-submit callback
                success:       showResponse,  // post-submit callback

                // other available options:
                url:       '/backend/login',         // override for form's 'action' attribute
                type:      'post',        // 'get' or 'post', override for form's 'method' attribut
                dataType:  'json',  // 'xml', 'script', or 'json' (expected server response type)
                clearForm: true,       // clear all form fields after successful submit
                //resetForm: true        // reset the form after successful submit

                // $.ajax options can be used here too, for example:
                //timeout:   3000

                successSelector: $('.alert-success.backendLogin.result'),
                failSelector: $('.alert-danger.backendLogin.result')
            };

        // bind form using 'ajaxForm'
        $('#backendLoginForm').ajaxForm(backendLoginFormOptions);

        // pre-submit callback
        function showRequest(formData, jqForm, options) {
            // formData is an array; here we use $.param to convert it to a string to display it
            // but the form plugin does this for you automatically when it submits the data
            let queryString = $.param(formData);

            // jqForm is a jQuery object encapsulating the form element.  To access the
            // DOM element for the form do this:
            // let formElement = jqForm[0];

            console.log('About to submit:' , queryString);

            // here we could return false to prevent the form from being submitted;
            // returning anything other than false will allow the form submit to continue
            return true;
        }

        // post-submit callback
        function showResponse(data, a, b, c, d, e)  {
            // for normal html responses, the first argument to the success callback
            // is the XMLHttpRequest object's responseText property

            // if the ajaxForm method was passed an Options Object with the dataType
            // property set to 'xml' then the first argument to the success callback
            // is the XMLHttpRequest object's responseXML property

            // if the ajaxForm method was passed an Options Object with the dataType
            // property set to 'json' then the first argument to the success callback
            // is the json data object returned by the server

            console.log('status: ', data, a, b, c, d, e);

            if (!data.error){
                backendLoginFormOptions.successSelector.html(data.message);
                backendLoginFormOptions.failSelector.hide();
                backendLoginFormOptions.successSelector.show();
                window.location.reload();
            }else {
                backendLoginFormOptions.failSelector.html(data.message);
                backendLoginFormOptions.successSelector.hide();
                backendLoginFormOptions.failSelector.show();
            }
        }
    });

</script>


</body>
</html>