body, html {
    color: #505050;
    line-height: 1.75em;
    background: white;
    position: relative;
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;;
}


/*列 解决页面右侧空白*/
.row{
    margin: 0 0 20px 0;
}


/*左上角logo*/
.mainLogo{
    width: 100px;
}


/*页面大标题*/
.mainTitle {
    font-size: x-large;
    font-family: 黑体;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.result{
    margin-top: 20px;
    display: none;
}


img{
    width: 100%;
}


/*文字剧中*/
.nav, .container-fluid {
    text-align: center;
}



/*版权及友链*/
.copyright{
    background-color:#111;
    color:#555;
    padding-top:28px;
    padding-bottom:28px;
}

.friendlink{
    background:#202020;
    padding:35px 0 35px 0;
    color:#959595;
}

.friendlink a, .copyright a{
    padding: 2px 7px;
    margin: 0 7px 7px 0;
    color: #959595;
}

.friendlink a:hover, .copyright a:hover {
    background-color: #56c1a6;
    color: white;
}



.panel-default>.panel-heading{
    background-color: #56c1a6;
}

.panel-body{
    text-align: left;
}

.panel-body p{
    line-height: 30px;
    font-size: inherit;
    text-indent: 2em;
}
.panel-body h4{
    font-size: 20px;
}
.panel-body span{
    font-family: 黑体;
    font-size: large;
}



.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default li:hover,
.navbar-default .active, .navbar-default li:hover,
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a:hover{
    background-color: #56c1a6;
    color: white;
}

.navbar-nav{
    float: none;
}




.embed-responsive{
    margin: 30px;
}

.anli{
    margin-top: 50px;
}




.fourPic{
    background-color: #f7f2dc;
    padding: 20px 0 ;
}
.fourPic img{
    width: 25%;
}

